@charset "utf-8";
/* CSS Document */

p{
	color:#00ccff;
}
body{
	background:#0FF;
	font-family:Arial;
	
}
h1,h2{
	color:red;
	background:#000;
	font-family:"Courier New", Courier, monospace;	
}
h1 em{
	color:#FFF;
}
h2+div{
		color:white;
		font-size:23px;	
}
div>a{
	font-size:36px;
}
.menu02{
	background-color:#099;
}
#menu01{
	background-color:#03F;
}
#menu03{
	background-color:#03F;
}
a:hover{
	color:#C60;
	font-size:40px;
}
input:focus{
		background-color:#0F0;
	}

@media print{
	h1{
		background-color:red;
		color:green;	
	}
}