@charset "utf-8";
/* CSS Document */

.c01{
	background-color:#000;
	padding:-1ex;
}
.h01{
	background-color:#FF9664;
	height:40px;	
}
.h02{
	background-color:#E6E967;
	height:40px;	
}
.h03{
	background-color:#0293CA;
	height:40px;	
}
.h04{
	background-color:#458A00;
	height:40px;	
}
.td-01{
	background-color:#E9EAAC;
	height:30px;
	margin-left:5ex;
}
.td-01 p{
	color:#000;
}
.more{
	text-align:center;
	background-color:#FF6;
}

.td1-01 p{
		color:#000;
		
}
.tab1{
		height:10px;
		
}
a{
	margin-left:3ex;
}


h2,p{
	color:#FFF;
	margin-left:2ex;
}
hr{
	color:#00F;
}
.last{
	background-color:#000;
	color:#FFF;
}
h3{
	color:#00F;
}

.last a{
	color:#808080;
}